body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
i { 
  cursor: pointer;
}
.modal{
  display: block;
}
.backgroundColorBlur{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
}
.alert{
  position:fixed;
  z-index: 2;
  margin: auto;
  width: 85vw;
}
.spinner{
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.popup{
  display: none;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: auto;
  height: auto;
  padding: 10px;
  border: 1px solid #3a3a3a;
  background-color: white;
  border-radius: 5px;
}
.card{
  margin: auto;
  max-height: 200px;
  overflow: auto;
}
.notes{
margin-top: 10vh;
}